<footer class="footer">
    <div>
	<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />Le contenu de ce site est distribué sous license <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0</a>
    </div>
    <div>
	<a rel="link" href="https://gitlab.com/Adelorn/blog">Code source</a>
    </div>
    <span>
        Fait avec amour via <a target="_blank" href="https://gohugo.io/">Hugo</a>
    </span>
    <a rel="me" href="https://pouet.chapril.org/@sagotgej"></a>
</footer>
