<div class="container list-posts">

    <h1 class="list-title">{{ .Name }}</h1>

    {{ if and
    (isset .Params "website")
    (isset .Params "image")
    (isset .Params "tag_description")
    }}
	<div class="tags-description-wrapper">
	    <div class="tags-description-img-wrapper">
		<a href={{ .Params.website }}>
		    <img class="tags-description-img" src={{ .Params.image }} />
		</a>
	    </div>
	    <div class="tags-description post-line-height">
		{{ .Params.tag_description }}
	    </div>
	</div>
    {{ end }}

	{{ range (where .Pages "Params.type" "post" ).GroupByDate "2006" }}

	    <h2 class="posts-year">{{ .Key }}</h2>

	    {{- range .Pages  -}}
		{{- partial "list-posts.html" . -}}
	    {{ end }}
	{{ end }}

	<div class="post container decorate-link">
	    <div class="post-content">
		<p>
		    {{ .Content }}
		</p>
	    </div>
	</div>
</div>
