<article class="post-title">
    <a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a>
    <div class="flex-break"></div>
    <span class="post-date">{{ dateFormat (i18n "dateExample") .Date }}</span>
</article>
