<div class="post container">
    <div class="post-header-section">
        <h1>{{ .Title }}</h1>
        <small role="doc-subtitle">{{ .Description }}</small>
        <p class="post-date">
	    {{ $createdAt := dateFormat (i18n "dateExample") .Date }}
	    {{ $updatedAt := dateFormat (i18n "dateExample") .Lastmod }}
	    <span>
		{{ if eq $createdAt $updatedAt }}
		{{ $createdAt }}
		{{ else }}
	        {{ $createdAt }}, {{ i18n "updatedAt"}} <b>{{ $updatedAt }}</b>
		{{ end }}
	    </span>
        </p>

        <ul class="post-tags">
        {{ range .Params.tags }}
            <li class="post-tag"><a href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
        </ul>
    </div>

    <div class="post-content">
        <p>
            {{ .Content }}
        </p>
    </div>
</div>
